@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Go to Posts/Index. Need to display TestMvcApp.Models.Posts to be iterated and displayed at the bottom of the details page.</p>
</div>
